<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
               http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<bean id="UsersBeans" class="entities.Users"></bean>
	<bean id="UsersHomeBeans" class="dao.UsersHome"></bean>
	<bean id="ArticlesPrixHomeBeans" class="dao.ArticlesPrixHome"></bean>
	<bean id="ArticlesStockHomeBeans" class="dao.ArticlesStockHome"></bean>
	<bean id="CommandesBeans" class="entities.Commandes"></bean>
	<bean id="CommandesHomeBeans" class="dao.CommandesHome"></bean>
	<bean id="ContactBeans" class="entities.Contact"></bean>
	<bean id="ContactHomeBeans" class="dao.ContactHome"></bean>
</beans> 
